<mat-card>
  <form (submit)="onAddPosts(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Post Title"
        ngModel
        name="title"
        minlength="3"
        id=""
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">*Please enter post title </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        placeholder="Post Content"
        matInput
        rows="3"
        required
        ngModel
        name="content"
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter post Content </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Save Posts</button>
  </form>
</mat-card>
